*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    @include respond(tablet-portrait){
        padding: 0;
        margin: 0;
        box-sizing: inherit;

    }
    
}
html{
    font-size: 62.5%;//default value of rem set to 10px
    //1200px width
    @include respond(tablet-landscape){
        font-size: 56.25%; //9px
    }
    
    //900px width
    @include respond(tablet-portrait){
        font-size: 37.35%; //6px

    }
    //1800px width
    @include respond(big-desctop){
        font-size: 75%; //12px
    }
}
body{
    box-sizing: border-box;
}

